<div class="container">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search City</mat-label>
      <input type="text"
             placeholder="Try Tel Aviv ;)"
             aria-label="Search city"
             matInput
             [formControl]="autoCompleteControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"
                        [displayWith]="displayCityName"
                        (optionSelected)="citySelected($event)"
      >
        <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
          {{option.LocalizedName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

<ng-container *ngIf="weatherForecast$ | async as weatherForecast">
  <app-city-weather [city]="selectedCity" [weatherForecast]="weatherForecast"></app-city-weather>
</ng-container>
</div>
