.mat-toolbar {
  height: var(--toolbar-height);

  a {
    padding: 8px;

    &.active {

    }

    &:visited {
      color: inherit;
    }
  }
}

.router-container {
  --padding: 10px;
  padding: var(--padding);
  height: calc(100% - var(--toolbar-height) - (var(--padding) * 2));
}


